{% extends 'base.html' %}
{% load static %}
{% block title %}Hacker News Data{%endblock title%}

{% block content %}
    <div id='hacker_news_index'>
        <table id='datatable_hacker_news' style="width: 100% !important">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Points</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody> 
                {%for news in hacker_news%}
                    <tr>    
                        <td>{{news.title}}</td>
                        <td>{{news.link}}</td>
                        <td>{{news.points}}</td>
                        <td>{{news.created}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" type="button" id="spinner" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Updating in progress, be patient...
    </button>
    <button class="btn btn-primary" id='submit' onclick="getapi()">Update Results</button>
{%endblock content%}
{% block extrajs %} 
    <script type='text/javascript' src="{% static 'js/spinner.js' %} "></script>
{% endblock extrajs %}